<h1>Sign up</h1>

<form action="/users/create" method="POST">
<input type="text" name="name" placeholder="Your name" required>
<input type="email" name="email" placeholder="Your email address" required>
<input type="password" name="password" placeholder="Enter password" required>
<input type="password" name="confirmPassword" placeholder="Conferm your password" required>
<input type="submit" value="Sign Up">
</form>