<h1>sign in</h1>
<form action="/users/createSession" method="Post">
    <input type="email" name="email" required placeholder="Email">
    <input type="password" name="password" required placeholder="Enter your password">
    <input type="submit">
</form>